/.bundle
/db/*.sqlite3
/log/*.log
/tmp
/public/uploads/*
.DS_Store
*~
\#*
.\#*
*.diff
*.swp
*.swo
*.swn
.jhw-cache/*
.sass-cache/*
.powrc
config/database.yml
/spec/controllers/admin/coverage/*
/spec/controllers/coverage/*
/spec/models/coverage/*
/spec/routing/coverage/*
/coverage/*
solr/
/db/development.sqlite3
