ol.informationlignes
{
	list-style-type: none;
	padding: 0px;
}

ol.informationlignes li:hover
{
	cursor: move;
}

ul.class_detail_titleinformationligne
{
}

ul.class_detail_titleinformationligne li
{
}
